<!-- id="all" #data (click)="getTitle(data)"-->

<main class="main">
    <div class="container">
        <div class="main__inner">
            <div class="search">
                <input class="search__input" type="text" name="search" id="search"
                    placeholder="Направление, специальность или проект">
                <button class="search__btn">Найти</button>
                <button class="search__filter"></button>
            </div>

            <div class="vacancy">
                <div class="vacancy__title">
                    <p class="title">Веб разработка, 24 задачи</p>
                    <p class="descr">За все время</p>
                    <!-- <div class="period">
                        <div class="period__item">
                            <label class="period__label">
                                <input class="period__check" type="checkbox" name="all">
                                За все время
                            </label>
                        </div>
                        <div class="period__item">
                            <label class="period__label">
                                <input class="period__check" type="checkbox" name="month">
                                За месяц
                            </label>
                        </div>
                        <div class="period__item">
                            <label class="period__label">
                                <input class="period__check" type="checkbox" name="week">
                                За неделю
                            </label>
                        </div>
                        <div class="period__item">
                            <label class="period__label">
                                <input class="period__check" type="checkbox" name="threeDays">
                                За последние три дня
                            </label>
                        </div>
                        <div class="period__item">
                            <label class="period__label">
                                <input class="period__check" type="checkbox" name="day">
                                За сутки
                            </label>
                        </div>
                    </div> -->
                </div>

                <div class="vacancy__filter">
                    <div class="exception">
                        <label for="" class="exception__label">
                            Исключить слова
                            <input type="text" name="" id="" class="exception__input" placeholder="Исключить слова">
                        </label>
                        <div class="kurs">
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    1 курс
                                </label>
                            </div>
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    2 курс
                                </label>
                            </div>
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    3 курс
                                </label>
                            </div>
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    4 курс
                                </label>
                            </div>
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    5 курс
                                </label>
                            </div>
                            <div class="kurs__item">
                                <label for="" class="kurs__label">
                                    <input type="checkbox" name="" id="" class="kurs__input">
                                    6 курс
                                </label>
                            </div>
                        </div>
                        <div class="specializations">
                            <div class="specializations__item">
                                <label for="" class="specializations__label">
                                    <input type="checkbox" name="" id="" class="specializations__input">
                                    Архитектура
                                </label>                             
                            </div>
                            <div class="specializations__item">
                                <label for="" class="specializations__label">
                                    <input type="checkbox" name="" id="" class="specializations__input">
                                    Веб разработка
                                </label>
                            </div>
                            <div class="specializations__item">
                                <label for="" class="specializations__label">
                                    <input type="checkbox" name="" id="" class="specializations__input">
                                    Графический дизайн
                                </label>
                                </div>
                            <div class="specializations__item">
                                <label for="" class="specializations__label">
                                    <input type="checkbox" name="" id="" class="specializations__input">
                                    Инженерия
                                </label>
                                </div>
                            <div class="specializations__item">
                                <label for="" class="specializations__label">
                                    <input type="checkbox" name="" id="" class="specializations__input">
                                    Программирование
                                </label>
                                </div>
                            <p class="show-more">Выбрать еще</p>
                        </div>
                        <div class="branches">
                            <div class="branches__item">
                                <label for="" class="branches__label">
                                    <input type="checkbox" name="" id="" class="branches__input">
                                    Архитектура
                                </label>
                            </div>
                            <div class="branches__item">
                                <label for="" class="branches__label">
                                    <input type="checkbox" name="" id="" class="branches__input">
                                    Архитектура
                                </label>
                            </div>
                            <div class="branches__item">
                                <label for="" class="branches__label">
                                    <input type="checkbox" name="" id="" class="branches__input">
                                    Архитектура
                                </label>
                            </div>
                            <div class="branches__item">
                                <label for="" class="branches__label">
                                    <input type="checkbox" name="" id="" class="branches__input">
                                    Архитектура
                                </label>
                            </div>
                            <div class="branches__item">
                                <label for="" class="branches__label">
                                    <input type="checkbox" name="" id="" class="branches__input">
                                    Архитектура
                                </label>
                            </div>
                            <p class="show-more">Выбрать еще</p>
                        </div>
                    </div>
                </div>

                <div class="vacancy__item">

                </div>
                <div class="vacancy__item">

                </div>
                <div class="vacancy__item">

                </div>
                <div class="vacancy__item">

                </div>
                <div class="vacancy__item">

                </div>
            </div>
        </div>
    </div>
</main>