<footer class="footer">
    <div class="container container__out">
        <div class="footer__inner">
            <div class="logo">
                <a class="logo__img" routerLink="/">
                    <img src="../../../assets/images/logo.png" alt="">
                </a>
                <a class="logo__text" routerLink="/">НИЖЕГОРОДСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ им Р. Е.
                    Алексеева</a>
            </div>
            <div class="contacts">
                <ul class="contacts__list">
                    <li class="contacts__list-item __location">г. Н. Новгород, ул. Минина, 24</li>
                    <li class="contacts__list-item __phone">
                        <a href="+78314366307" class="contacts__link">+ 7 (831) 436 63 07</a>
                    </li>
                    <li class="contacts__list-item __mail">
                        <a href="mailto:nntu@nntu.ru" class="contacts__link">nntu@nntu.ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>