<header class="header">
    <div class="container container__out">
        <div class="header__inner">
            <div class="logo">
                <a class="logo__img" routerLink="/">
                    <img src="../../../assets/images/logo.png" alt="">
                </a>
                <a class="logo__text" routerLink="/">НИЖЕГОРОДСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ им Р. Е.
                    Алексеева</a>
            </div>
            <ul class="social">
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../../../assets/images/vk.png" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../../../assets/images/ok.png" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../../../assets/images/yt.png" alt="">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link">
                        <img src="../../../assets/images/tg.png" alt="">
                    </a>
                </li>
            </ul>
            <div class="profile">
                <a class="profile__link" routerLink="/registration">Регистрация</a>
                <a class="profile__link" routerLink="/login">Войти</a>
            </div>
        </div>
    </div>
</header>