<div class="resume">
    <div class="container">
        <div class="resume__inner">
            <a class="back-btn" routerLink="/profile">К списку резюме</a>
            <div class="resume__descr-top">
                <div class="resume__description">
                    <p class="resume__description-name">Шурганов Вадим</p>
                    <p class="resume__description-birth">Мужчина, 22 года, родился 19 ноября 2000</p>
                    <p class="resume__description-feedback">Здесь будет отображаться предпочтительный способ связи</p>
                </div>
                <input class="download" type="file" name="photo" multiple accept="image/*,image/jpeg">
            </div>
            <div class="resume__descr-bottom">
                <div class="vacancy">
                    <p class="vacancy__title">UI/UX Веб-дизайнер</p>
                    <p class="vacancy__paid">70 000 руб.</p>
                </div>
                <div class="about">
                    <p class="about__title">Обо мне</p>
                    <p class="about__descr">В данный момент учусь в вузе</p>
                </div>
                <div class="studing">
                    <p class="studing__title">Образование</p>
                    <p class="studing__descr">4 курс</p>
                </div>
                <div class="languages">
                    <p class="languages__title">Знание языков</p>
                    <div class="languages__rev">
                        <p class="languages__rev-item">Русский - Родной</p>
                        <p class="languages__rev-item">Английский - A2 - Элементарный</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
