<div class="vacancy">
    <div class="container">
        <div class="vacancy__inner">
            <div class="vacancy__card-item">
                <p class="vacancy__card-title">UI/UX Веб-дизайн</p>
                <p class="vacancy__card-price">90 000 руб.</p>
                <p class="branch">Розничная торговля</p>
                <button class="vacancy__card-btn">Откликнуться</button>
                <button class="vacancy__card-btn">Связаться</button>
                <button class="vacancy__card-btn">В избранное</button>
            </div>

            <div class="vacancy__card-descr">
                <p class="vacancy__card-text">В студии 3 основных направления — веб-дизайн, ui/ux и графический дизайн.
                    В рамках веба мы делаем "под ключ", например, прокаченные корпоративные сайты
                    для производств на 150+ экранов. Как правило, там есть место как имиджевым
                    страницам со своей идеей, сценарием, анимацией (главная, внутренние лендинги),
                    так и страницам со сложной логикой (каталог продукции). В рамках ui/ux — это
                    только зубодробительные интерфейсы со сложной логикой на 100+ экранов.
                    <br>
                    <br>
                    <br>
                    Мы ищем человека, который будет заниматься вебом и интерфейсами.</p>

                <ul class="vacancy__card-list">
                    <p class="title">Задачи:</p>
                    <li class="vacancy__card-li">Большое количество самых разных дизайнерских задач — от разработки прототипов до
                    отрисовки адаптива.</li>
                    <li class="vacancy__card-li">Крутые клиенты, которые слушают, с которыми можно аргументированно спорить и
                    отстаивать свои идеи.</li>
                    <li class="vacancy__card-li">Прокаченные студийные процессы и подходы, которые постоянно отлаживаются.</li>
                    <li class="vacancy__card-li">Крутая обратная связь от руководителя направления — подскажем, чего не хватает для
                    роста, есть с кем поговорить про высокоуровневые штуки.</li>
                    <li class="vacancy__card-li">Отличная позиция, чтобы качаться и расти, реализовать свои идеи и научиться вещам,
                    о которых не расскажут на онлайн курсах.</li>
                </ul>
                <ul class="vacancy__card-list">
                    <p class="title">Умения:</p>
                    <li class="vacancy__card-li">Ты умеешь работать с пользовательскими сценариями, смотришь на интерфейс глазами пользователя</li>
                    <li class="vacancy__card-li">Можешь разобраться в бизнес-процессах клиента и запрототипировать интерфейс</li>
                    <li class="vacancy__card-li">Знаешь и применяешь правила синтаксиса интерфейса</li>
                    <li class="vacancy__card-li">Само собой, хорошо знаешь фигму: компоненты, варианты, автолейауты</li>
                    <li class="vacancy__card-li">Можешь сделать макет понятным для разработчика, умеешь подготовить и передать макет в разработку</li>
                    <li class="vacancy__card-li">Обладаешь системным мышлением и здравым смыслом, умеешь их применять</li>
                    <li class="vacancy__card-li">Умеешь самостоятельно принимать решения</li>
                    <li class="vacancy__card-li">Обладаешь отдельными прокаченными хардами (иллюстрация, 3D, верстка, ретушь и т.д.).</li>
                </ul>
            </div>

            <div class="skills">
                <p class="title skills__title">Ключевые навыки</p>
                <div class="skills__item">Figma</div>
                <div class="skills__item">UI/UX</div>
                <div class="skills__item">Прототипирование</div>
                <div class="skills__item">Системное мышление</div>
                <div class="skills__item">Git</div>
            </div>
        </div>
    </div>
</div>