<div class="resume">
    <div class="container">
        <div class="resume__inner">
            <div class="resume__review">
                <p class="resume__review-title">Мои резюме</p>
                <a class="resume__review-link" routerLink="/make-resume">Создать резюме</a>
            </div>
            <div class="resumes">
                <div class="resumes__item">
                    <p class="resumes__item-title">UI/UX Веб-дизайнер</p>
                    <p class="resumes__item-descr">Обновлено 31 июля 2022</p>
                    <button class="resumes__item-btn">Удалить</button>
                </div>
                <div class="resumes__item">
                    <p class="resumes__item-title">Офис-менеджер</p>
                    <p class="resumes__item-descr">Обновлено 16 ноября 2020</p>
                    <button class="resumes__item-btn">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>