<div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="form">
        <h3 class="title">Создать аккаунт</h3>
        <p class="text">Отправили код на
            <span class="descr">(Почта)</span>
        </p>
        <p class="text">Подтвердите адрес электронной почты, введя код из сообщения</p>
        <input type="text" name="confirm" id="confirm" class="form__input">
        <button type="submit" class="form__btn-reset">Отправить еще раз</button>
        <button type="submit" class="form__btn" routerLink="/login">Подтвердить</button>
    </div>
</div>
